
.ipynb_checkpoints/*
geology/.DS_Store
geology/simplified_geology.*
.DS_Store
grids/G17_l90.xyz
grids/W19_l30.xyz
grids/W19_l90.xyz
blah.nc
glm.out
harms.out
total_py.in
vh_it.out
geology/dichotomy.gmt.gplates.xml
DistanceToHellasCentre.nc
shc/.ipynb_checkpoints/mars_crustal_power_truncated_to_deg51_from_88.cof-checkpoint.txt
tmp.nc
tmp.xyz
grids/W19_l30_hellas_cosine_ramp_function.xyz
grids/W19_l30_hellas_cosine_ramp_function.xyz.zip
DistanceToArgyreCentre.nc
grids/Archive.zip
grids/W19_l30_hellas_removed.xyz
grids/W19_l30_hellas_removed.xyz.zip
grids/W19_l90_hellas_cosine_ramp_function.xyz
grids/W19_l90_hellas_removed.xyz
gmt.history
grids/mincurv.zip
grids/W19_l90_hellas_cosine_ramp_function_mincurv.xyz
grids/W19_l90_hellas_removed_mincurv.xyz
