
.ipynb_checkpoints/*
geology/.DS_Store
geology/simplified_geology.*
.DS_Store
grids/G17_l90.xyz
grids/W19_l30.xyz
grids/W19_l90.xyz
blah.nc
glm.out
harms.out
total_py.in
vh_it.out
geology/dichotomy.gmt.gplates.xml
DistanceToHellasCentre.nc
